# 001: Multiples of 3 and 5
___
If we list all the natural numbers below $10$ that are multiples of $3$ or $5$, we get $3, 5, 6,$ and $9$. The sum of these multiples is $23$. Find the sum of all multiples of $3$ and $5$ below $1000$.

In [1]:
sum::Int32 = 0
for i in 0:999
    if i % 3 == 0 || i % 5 ==0
        sum += i
    end
end
print(sum)

233168